<!DOCTYPE html>


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Shop hoa tươi</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Html.Partial("_Header")
</head>
<body>
    <!--Header-->
    @RenderPage("_HeaderBar.cshtml")
   
    <!--Header-->
    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Firefly Flower Shop</p>
        </footer>
    </div>
    @RenderPage("_FooterBar.cshtml")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Scripts -->
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/JAVASCRIPT/Animation.js"></script>
    <script src="~/JAVASCRIPT/NavScroll.js"></script>
</body>
</html>
