@model IEnumerable<FlowersShop.Repository.Product>

<div>
    <table>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @if (item.Image != null)
                            {
                                <img class="image" src="@Url.Content(item.Image)" width="200" />
                            }
                            else
                            {
                                <span>No image available</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
