@model IEnumerable<FlowersShop.Repository.Product>

@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowProduct</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Thêm vào giỏ hàng
            </th>
            <th>
                Số lượng
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="product-@item.Product_ID">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.Image != null)
                    {
                        <img class="image" src="@Url.Content(item.Image)" width="200" />
                    }
                    else
                    {
                        <span>No image available</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <button class="add-to-cart"
                            type="button"
                            data-product_id="@item.Product_ID">
                        Thêm
                    </button>
                </td>
                <td>
                    <input type="number" id="quantity" value="1" />
                </td>
            </tr>
        }

    </table>
</body>
</html>
<!--Custom JS-->
<script src="~/Assets/Client/customjs/modify_cart.js"></script>
