@model FlowersShop.Repository.Product

<!-- Large Modal -->
@using (Ajax.BeginForm("EditProduct", "Product", FormMethod.Post,
                    new AjaxOptions()
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST",
                        UpdateTargetId = "EditModalContainer"
                    },
                    new { enctype = "multipart/form-data" }
                    ))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="modal fade" id="EditModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="EditModalLabel">Chỉnh sửa sản phẩm</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.Product_ID)
                    <div class="row">
                        <div class="col mb-3">
                            @Html.LabelFor(model => model.Name, "Tên sản phẩm", new { @class = "form-label" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Hoa hồng đen" } })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-0">
                            @Html.LabelFor(model => model.Price, "Giá bán", htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", placeholder = "10 000" } })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-0">
                            @Html.LabelFor(model => model.Quantity, "Số lượng", htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.Description, "Mô tả sản phẩm", htmlAttributes: new { @class = "form-label" })
                        <div class="col mb-0">
                            @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @cols = 80, @row = 10 } })
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col mb-0">
                            <label class="form-label">Màu sắc</label>
                            @Html.ListBoxFor(model => model.SelectedColorIds, (MultiSelectList)ViewBag.Color, new { @class = "form-control clorrrasdasd" })
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col mb-0">
                            <label class="form-label">Đối tượng</label>
                            @Html.ListBoxFor(model => model.SelectedObjectIds, (MultiSelectList)ViewBag.Object, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col mb-0">
                            <label class="form-label">Dịp</label>
                            @Html.ListBoxFor(model => model.SelectedOccasionIds, (MultiSelectList)ViewBag.Occasion, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col mb-0">
                            <label class="form-label">Hình thức trình bày</label>
                            @Html.ListBoxFor(model => model.SelectedPresentationIds, (MultiSelectList)ViewBag.Presentation, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        Hình ảnh
                        <div class="col-md-10">
                            <input type="file" class="form-control" name="ImageFile" id="ImageFile" accept="image/*">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary" id="edit-confirm">Save changes</button>
                </div>
            </div>
        </div>
    </div>
}
