@model IEnumerable<FlowersShop.Repository.Product>

@{
    ViewBag.Title = "Xóa sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Admin-LayoutPage.cshtml";
}

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Price)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>@Html.DisplayNameFor(model => model.Image)</th>
        <th>@Html.DisplayNameFor(model => model.Quantity)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="product-@item.Product_ID">
            <!-- Thêm id cho mỗi hàng -->
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>
                @if (item.Image != null)
                {
                    <img class="image" src="@Url.Content(item.Image)" width="200" />
                }
                else
                {
                    <span>No image available</span>
                }
            </td>
            <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
            <td>
                <button type="button"
                        class="btn btn-danger delete-btn"
                        data-product_id="@item.Product_ID">
                    Xóa
                </button>
            </td>
            <td>
                <button type="button"
                        class="btn btn-primary edit-btn-product"
                        data-product_id="@item.Product_ID">
                    Chỉnh sửa
                </button>
            </td>
            <td>
                <a      href="@Url.Action("DetailProduct","Product", new {id= item.Product_ID})"    
                        type="button"
                        class="btn btn-primary primary-btn"
                        >
                   Xem chi tiết</a>
            </td>
        </tr>
    }
</table>

<!-- Render the edit modal partial view -->
<div id="EditModalContainer">
    @Html.Partial("_EditModal", Model.FirstOrDefault())
</div>

<!-- Render the delete modal partial view -->
@Html.Partial("_DeleteModal")